{
    "plugins": ["react-hot-loader/babel"],
    "presets": [
        "@babel/react",
        "@babel/typescript",
        [
            "@babel/env",
            {
                "modules": false
            }
        ]
    ]
}